* {
    margin: 0px;
}








/* ______________________________________________________HEADER_______________________________________________________ */

.header {
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
}
#logo {
    position: absolute;
    left: 30px;
    display: flex;
    height: 60px;
    width: 60px;
    background-color: thistle;
}

.nav {
    position: absolute;
    right: 30px;
    height: 60px;
    width: 600px;
    display: flex;
    float: right;
    background-color: yellowgreen;
    align-items: center;
}


.ul {
    padding: 0px;
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ul > li {
    list-style: none ;
    justify-content: space-around;
}

.ul > li > a {
    padding: 10px 20px 10px 20px ;
    border-radius: 5px;
    color: white;
    font-size: large;
    text-decoration: none ;
    margin: 1px ;
    background-color: tomato;
}



/* ___________________________________________________________________________________________________________________ */

/* ______________________________________________________MAIN_________________________________________________________ */

.main {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 2000px;
    background-color: teal;
}

#home {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 595px;
    background-color: lightcoral;
}

#services {
    position: absolute;
    top: 595px;
    width: 100%;
    height: 600px;
    background-color: orange;
}
/* ___________________________________________________________________________________________________________________ */

/* _______________________________________________________FOOTER______________________________________________________ */

/* #footer {}

.links {}

.socialmedia {}

.contactinfo {} */

/* ___________________________________________________________________________________________________________________ */
