* {
    margin: 0px;
}








/* ______________________________________________________HEADER_______________________________________________________ */

.header {
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
}
#logo {
    position: absolute;
    left: 30px;
    display: flex;
    height: 60px;
    width: 60px;
    background-color: thistle;
}

.nav {
    position: absolute;
    right: 30px;
    height: 60px;
    width: 700px;
    display: flex;
    float: right;
    background-color: yellowgreen;
    align-items: center;
}


.ul {
    padding: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ul > li {
    list-style: none ;
    justify-content: space-around;
}

.ul > li > a {
    padding: 10px 20px 10px 20px ;
    border-radius: 8px;
    color: white;
    font-size: large;
    text-decoration: none ;
    margin: 1px ;
    background-color: tomato;
}



/* ___________________________________________________________________________________________________________________ */

/* ______________________________________________________MAIN_________________________________________________________ */

.main {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 2700px;
    background-color: teal;
}

#home {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 595px;
    background-color: lightcoral;
}

#services {
    padding: 0px;
    position: absolute;
    top: 595px;
    width: 100%;
    height: 850px;
    background-color: orange;
    flex-wrap: wrap;
}

.row {
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2{
    margin-top: -50px;
}

.cards {
    margin: 0px 10px;
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 25px;
}

#news {
    position: absolute;
    top: 1445px;
    height: 400px;
    width: 100%;
    background-color: blue;
    display: flex;
}

.newsheading {
    color: black;
    font-size: 50px;
    align-items: center;
    display: flex;
    float: left;
    height: 100px;
    width: 350px;
    justify-content: center;
}

.newspara {
    position: absolute;
    right: 10%;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    width: 60%;
    align-self: center;
}

.newspara > p {
    margin: 20px 30px;
}

.newspara > ul {
    position: absolute;
    left: 0px; top: 10px;
}

#aboutus {
    position: absolute;
    top: 1845px;
    height: 400px;
    width: 100%;
    display: flex;
    background-color: blueviolet;
}

.aboutusheading {
    display: flex;
    align-items: center;
    height: 100px;
    width: 242px;
    font-size: 50px;
    justify-content: center;
}

.aboutuspara {
    position: absolute;
    right: 10%;
    display: flex;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    width: 60%;
    align-self: center;
}

.aboutuspara > p {
    margin: 10px 20px 10px 20px;
}

/* ___________________________________________________________________________________________________________________ */

/* _______________________________________________________FOOTER______________________________________________________ */

#footer {
    background-color: thistle;
    position: absolute;
    top: 2305px;
    height: 400px;
    width: 100%;
}





/* ___________________________________________________________________________________________________________________ */
